LOAD 4
PUSH 0
JSR 6
POP 9
RTS

POP 1
MOV 0, 1
JIZ 28
LOAD 1
SUB 1, 0
MOV 0, 1
JIZ 32

MOV 2, 1
LOAD 1
SUB 2, 0
PUSH 2
PUSH 1
JSR 6
POP 6
JSR 6
POP 7
ADD 6, 7
PUSH 6
RTS


LOAD 0
PUSH 0
RTS

LOAD 1
PUSH 0
RTS
