LOAD 9
PUSH 0
JSR 6 ; FIB
POP 9
RTS

POP 1 ; FIB case
MOV 0, 1
JIZ 32  ; ZERO
LOAD 1
SUB 1, 0
MOV 0, 1
JIZ 36  ; ONE

MOV 2, 1
LOAD 1
SUB 2, 0
PUSH 2
PUSH 1
JSR 6 ; FIB
POP 8
POP 9
PUSH 8
PUSH 9
JSR 6 ; FIB
POP 7
POP 6
ADD 6, 7
PUSH 6
RTS


LOAD 0 ; ZERO case
PUSH 0
RTS

LOAD 1 ; ONE case
PUSH 0
RTS
